img {
  max-width: 100%;
  max-height: 100%;
  align-content: space-between;
}

.list{
  color: red;
  /* font-size: 125px; */
}

.logo-text{
  color: #3a98a2;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2vw;
  /* text-align: center; */
}
.welcome-text{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 3vw;
  color: #d1d1d1;
  background-color: #803aa3;
}
.sidebar-text{
  font-family: "Lucida Console", Monaco, monospace;
  color: #d1d1d1;
}

.reduce-size{
  height: 75vh;
  width: 75vw;
}

.center {
  vertical-align: middle;
  text-align: center;
}

.welcome-card{
  width: 62vw;
  height: 40vh;
}

.fit-gif{
  width: 30vw;
  height: 30vh;
  object-fit: cover;
  align-content: center;
}

.large-gif{
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  align-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.scroll-div {
  overflow: scroll;
  overflow-y: scroll;
  max-height: 76vh;
  height: 76vw;
}
.scroll-div-main{
  overflow: scroll;
  overflow-y: scroll;
  max-height: 95vh;
  height: 90vw;
}

.scroll-div-2 {
  overflow: scroll;
  overflow-y: scroll;
  max-height: 82vh;
  height: 82vw;
}

.card.octothorpe{
  width: 50vw;
  margin: 3vh;
}

.motto-body{
  justify-content: center;
}

.card-header-1{
  background: #3a98a2;
}
.card-header-2{
  background: #d32626;
}
.card-header-3{
  background: #f2ee1f;
}
.card-header-4{
  background: #5788d6;
}
.card-header-5{
  background: #35993f;
}
.card-header-6{
  background: #e09443;
}
.card-header-7{
  background: #803aa3;
}
.card-header-8{
  background: #666666;
}
.card-header-9{
  background: #d1d1d1;
}

.marginal{
  margin: 3vh;
}

.micro-margin{
  margin: 1vh;
}
.micro-padding{
  padding: 1vh;
}

.name-p{
  background-color: #fdbbc7;
  text-align: justify;
  text-justify: inter-word;
  padding: 9px
}

.team-p{
  background-color: #d4ebf6;
  text-align: justify;
  text-justify: inter-word;
  padding: 9px
}


.team-m{
  background-color: #f0dada;
  text-align: justify;
  text-justify: inter-word;
  padding: 9px
}

.cosmic-A{
  background-color: #fcf7e0;
  text-align: justify;
  text-justify: inter-word;
  padding: 9px
}

.warning-p{
  background-color: #b9ead1;
  text-align: justify;
  text-justify: inter-word;
  padding: 9px
}

.createdAt-p{
  background-color: #b9ead1;
  text-align: justify;
  text-justify: inter-word;
  padding: 9px
}

.rundown-p{
  background-color: #f2bfed;
  text-align: justify;
  text-justify: inter-word;
  padding: 9px
}

.comp-p{
  background-color: #f4d2b7;
  text-align: justify;
  text-justify: inter-word;
  padding: 9px
}

.img-p{
  /* position: absolute;
   right: 200px;
   width: 300px; */

  width: 60%;
  length: 60%;
    /* border: 3px solid #73AD21; */
  padding: 10px
}
/* // .col-4 {
//   overflow-y: scroll; // Only add scroll to vertical column
//   overflow: scroll;
//   max-height: 90vh;
//   height: 500px;
// } */

#sidebar-data {
  border: 1px solid;
}

#form-bar {
  width: 90vw;
  border: 1px solid;
}

#document-body{
   background-image: url("http://cdn.osxdaily.com/wp-content/uploads/2014/03/cosmos-space-wallpaper-3.jpg");
   background-size: cover;
}

#nav{
  /* border: 3px solid #a0ecff;
   border-radius: 4px; */
   /* background: #a0ecff */
   background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
 background-image: -webkit-linear-gradient(bottom, white 0%, #330867 100%);
 background-image: linear-gradient(to top, white 0%, #330867 100%, opacity: 0.3);
}

.column {
   float: left;
   padding: 10px;
   overflow: scroll;
 }

 .column.side {
   width: 30vw;
 }
 .column.middle {
   width: 70vw;
 }
/*
 .card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: $card-bg;
   background-clip: border-box;
   border: $card-border-width solid $card-border-color;
   @include border-radius($card-border-radius);

   > hr {
     margin-right: 0;
     margin-left: 0;
   }

   > .list-group:first-child {
     .list-group-item:first-child {
       @include border-top-radius($card-border-radius);
     }
   }

   > .list-group:last-child {
     .list-group-item:last-child {
       @include border-bottom-radius($card-border-radius);
     }
   }
 } */
