.list{
  color: red;
  /* font-size: 125px; */
}

.center {
  vertical-align: middle;
  text-align: center;

}

.scroll-div {
  overflow: scroll;
  overflow-y: scroll;
  max-height: 95vh;
  height: 95vw;
}

.card.octothorpe{
  width: 50vw;
}

.card-header-1{
  background: teal;
}
.card-header-2{
  background: red;
}
.card-header-3{
  background: blue;
}
.card-header-4{
  background: yellow;
}
.card-header-5{
  background: green;
}
.card-header-6{
  background: orange;
}
.card-header-7{
  background: purple;
}
.card-header-8{
  background: gray;
}
.card-header-9{
  background: white;
}


/* // .col-4 {
//   overflow-y: scroll; // Only add scroll to vertical column
//   overflow: scroll;
//   max-height: 90vh;
//   height: 500px;
// } */

#sidebar-data {
  border: 1px solid;
}

#form-bar {
  width: 90vw;
  border: 1px solid;
}

.column {
   float: left;
   padding: 10px;
   overflow: scroll;
 }

 .column.side {
   width: 30vw;
 }
 .column.middle {
   width: 70vw;
 }
/*
 .card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: $card-bg;
   background-clip: border-box;
   border: $card-border-width solid $card-border-color;
   @include border-radius($card-border-radius);

   > hr {
     margin-right: 0;
     margin-left: 0;
   }

   > .list-group:first-child {
     .list-group-item:first-child {
       @include border-top-radius($card-border-radius);
     }
   }

   > .list-group:last-child {
     .list-group-item:last-child {
       @include border-bottom-radius($card-border-radius);
     }
   }
 } */
